.header-function{
    display: flex;
    justify-content: space-between;

}
ion-accordion-group {
    width: 100%;
}

ion-button {
      
    height: 1px !important;
    margin: 0 !important;
    align-items: center;

}