<ion-header [translucent]="true">
  <ion-toolbar color="'primary">
      <ion-title>Crie sua lista</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  
  <form [formGroup]="form" (ngSubmit)="onSubmitForm()">
    <ion-toolbar>
      <ion-input  formControlName="title" type="text" label="Nome da Lista" labelPlacement="floating"></ion-input>
    </ion-toolbar>
    <div formArrayName="items">
      <ion-item class="form-group" lines="inset" *ngFor="let items of getItemArray.controls; let i=index"
        [formGroupName]="i">
        <ion-checkbox  formControlName="check" slot="start">
        </ion-checkbox> 
        <ion-input type="text" label="Item" labelPlacement="floating" class="form-control item" formControlName="name"
          id="name" required></ion-input>
        <ion-input type="number" label="Qtd" labelPlacement="floating" class="form-control qtd" formControlName="qtd"
          required></ion-input>
        <ion-input type="number" label="R$" labelPlacement="floating" class="form-control money" 
          formControlName="money" required></ion-input>
        <ion-icon color="danger" name="trash-outline" (click)="deleteItem(i)">
        </ion-icon>
      </ion-item>
    </div>

    <ion-item class="form-group">
      <ion-button type="submit" [disabled]="isFormValid()"  class="btn btn-primary mt-4" fill="solid" value="Salvar">Salvar</ion-button>
      <ion-button type="button" (click)="addItem()">Add Item</ion-button>
    </ion-item>

  </form>

</ion-content>