
<ion-header [translucent]="true">
  <ion-toolbar color="'primary">
    <ion-title>Lista do mês</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item>
      <ion-select (ionChange)="handleChange($event)" aria-label="fruit" placeholder="Selecione a Lista do mês">
        <ion-select-option *ngFor="let item of data; let i=index"
          value="{{item.title}}">{{item.title}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-reorder-group [disabled]="false" (ionItemReorder)="handleReorder($any($event))">
      <ion-item *ngFor="let item of dado; let i = index">
        <ion-checkbox slot="start" [(ngModel)]="item.check" (ionChange)="checkboxClick($event, item.money)"></ion-checkbox>
        <ion-input disabled [ngClass]="{ 'line-through': item.check }" type="text" [value]="item.name + ' (Qtd: ' + item.qtd + ') - R$ ' + item.money"></ion-input>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
    </ion-reorder-group>
  </ion-list>
</ion-content>

<ion-footer class="total-calculate">
  <i class="fa-solid fa-calculator"></i>
  <div class="count"> 

    <label> Previsão: {{previsaoDeGasto}}</label>
    <label> Gasto: {{total}}</label>
  </div>
</ion-footer>